<h1>Create a new list</h1>
<%= link_to 'New', new_list_path %>

<h2>ALL LISTS</h2>
<% @lists.each do |list| %>
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <%= list.name %>
        <% end %>
    <% end %>
